html{
    background-repeat: no-repeat ;
    background-image: linear-gradient(45deg, yellow, blue);
    color: rgb(255, 255, 255); 
    height: 100%;
    width: 100%;
  }

a {
    color: rgb(236, 227, 227);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

a:hover{
    font-size: 150%;
    color: cornsilk;

}

a:visited{
    color: red;
}

article{
  font-size: x-large;
}

/* Hamburger menu */
.nav {
    overflow: hidden;
    background-color: #a412bea1;
    position: relative;
}
  
.nav #links {
    display: none;
  }
  
.nav a {
    color: rgba(8, 186, 240, 0.993);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.nav a.icon {
    background: rgb(8, 8, 8);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    
  }
  
.nav a:hover {
    background-color:#a412bea1;
    color:#060007a1;
  }
  
.active {
    background-color: #a412bea1;
    color: white;
  }

  .contact{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 40%;
    color: rgb(241, 139, 6);
  }
.submit{
  margin-top: 10px;
  cursor: pointer;
}  

.fa-facebook {
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 75%;
  background-color: rgba(85, 85, 223, 0.828);
  color: white;
  
}

/* media queriers */



@media screen and (min-width:769px){
  html{
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav{
    display: none;
  }
  .tablet{
    display: none;
  }
  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: x-large;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(213, 213, 226, 0.733);
  }
   a{
    color: rgb(0, 255, 255);
    font-weight: bold;
  }
  a:visited{
    color: rgb(147, 0, 205);
  }
  a:hover{
    font-size: xx-large;
    cursor: pointer;
  }
  
 
  .submit{
    font-size: larger;
    padding: 10px;
    background-color: tomato;
  }
  
}



@media screen and (min-device-width:481px) and (max-device-width:768px) {
  .nav{
    display: none;
  }
  .desktop{
    display: none;
  }
  .tablet{
    padding-top: 5px;
  }
  button{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: larger;
    background-color: rgb(216, 132, 22);
  }
  button:nth-child(odd){
    background-color: cyan;
  }
}  

@media screen and (max-device-width:480px){
  .tablet{
    display: none;
  }
  .desktop{
    display: none;;
  }
}





