html{
	background-repeat: no-repeat ;
	background-image: linear-gradient(45deg, yellow, blue);
	height: 100%;
  	width: 100%;
}

.nav {
    overflow: hidden;
    background-color: #a412bea1;
    position: relative;
}
  
.nav #links {
	display: none;
}
  
.nav a {
    color: rgba(8, 186, 240, 0.993);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.nav a.icon {
    background: rgb(8, 8, 8);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    
}
  
.nav a:hover {
    background-color:#a412bea1;
    color:#060007a1;
}
  
.active {
    background-color: #a412bea1;
    color: white;
}

body{
	font-family: 'Open Sans',sans-serif;
}
#container{
	width: 750px;
	height: 550px;
	background-repeat: no-repeat ;
  	margin: 10px auto;	
	
} 
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	left: -150px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

button:nth-child(1){
	background-color: cyan;
}
button:nth-child(3){
	background-color: cyan;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #204cb2;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #00ccff;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #eb1414;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #12e02d;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #5c08aaad;
}

footer{
	position: absolute;
	bottom: 0;
}
/* media queriers */

@media screen and (min-width:769px){
	.nav{
	  display: none;
	}
	.tablet{
	  display: none;
	}
	.desktop {
	  display: flex;
	  flex-direction: row;
	  justify-content: flex-end;
	  font-size: x-large;
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
	  background-color: mediumblue;
	}
	
	
	a{
	  color: lime;
	  padding: 5px;
	  font-weight: bold;
	}
	a:visited{
	  color: rgb(0, 205, 109);
	}
	a:hover{
	  font-size: xx-large;
	  cursor: pointer;
	}
}
  
  
  
  @media screen and (min-device-width:481px) and (max-device-width:768px) {
	.nav{
	  display: none;
	}
	.desktop{
	  display: none;
	}
	.tablet{
	  padding-top: 5px;
	}
	button{
	  display: block;
	  width: 100%;
	  margin-top: 10px;
	  padding: 5px;
	  font-size: larger;
	  background-color: rgb(216, 132, 22);
	}
	
}

  
  @media screen and (max-device-width:480px){
	.tablet{
	  display: none;
	}
	.desktop{
	  display: none;;
	}
  }
  
  